 body, html {

    height: 100;
    margin: 0;
    background-color: linear-gradient(135deg #bccce3, #ebae13);
    color:rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
 }

.container
{
    background-color: blue;
    padding: 40pzx;
    border-radius: 12px;
    max-width: 600px;
    width: 100;
    box-shadow: 0 8px 20px black;

}
h1
{
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;

}
h2
{
    font-weight: 400;
    font-size:1.5rem;
    margin: 0 0 2.5rem;
    font-style: italic;

}
.info{
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 30px;

}

span{
    font-weight: 600;
    display: inline-block;
    min-width: 110px;

}
footer{
    font-size: 0.85rem;
    opacity: 0.7;
    margin-top: 30px;
}